.member{
  flex-direction: column-reverse;
  opacity: 0;
  transform: translateX(100%) scale(.6);
}

.member .back{
  left: 0;
}

#member:target ~ .member,
#m1:target ~ .member,
#m2:target ~ .member,
#m3:target ~ .member,
#m4:target ~ .member,
#m5:target ~ .member,
#m6:target ~ .member,
#m7:target ~ .member{
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* 成员时间线 （容器）*/
.member .time-line{
  display: flex;

  width: 90%;
  max-width: 65rem;
  height: 6rem;
  opacity: 0;
  z-index: 10;
  transform: translateY(-2rem);
  transition: all .6s ease;
}

#member:target ~ .member .time-line,
#m1:target ~ .member .time-line,
#m2:target ~ .member .time-line,
#m3:target ~ .member .time-line,
#m4:target ~ .member .time-line,
#m5:target ~ .member .time-line,
#m6:target ~ .member .time-line，
#m7:target ~ .member .time-line{
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.2s;
}

/* 轴线 */
.member .time-line:after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  margin: auto;
  width: 100%;
  height: .2rem;
  background: #333;
  z-index: -1;
}

.member .time-line .title{
  display: block;
  margin-left: .6rem;
  width: 6rem;
  font-size: 1.4rem;
  font-family: 'Barrio', cursive;
  line-height: 3rem;
  user-select: none;
  cursor: default;
  text-align: left;
}

.time-line .m{
  position: relative;
  display: block;
  width: 6rem;
  color: #333;
}

/* 第？届 （容器）*/
.time-line .m:hover,
#member:target ~ .member .time-line .m1,
#m1:target ~ .member .time-line .m1,
#m2:target ~ .member .time-line .m2,
#m3:target ~ .member .time-line .m3,
#m4:target ~ .member .time-line .m4,
#m5:target ~ .member .time-line .m5,
#m6:target ~ .member .time-line .m6,
#m7:target ~ .member .time-line .m7{
  color: #0dc7a2;
  cursor: pointer;
}

/* #m6:target ~ .member .time-line .m6定点小矩形 */
.time-line .m:before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  margin: auto;
  width: .6rem;
  height: .6rem;
  background: #333;
  transition: all .32s ease;
}

.time-line .m:hover:before,
#member:target ~ .member .time-line .m1:before,
#m1:target ~ .member .time-line .m1:before,
#m2:target ~ .member .time-line .m2:before,
#m3:target ~ .member .time-line .m3:before,
#m4:target ~ .member .time-line .m4:before,
#m5:target ~ .member .time-line .m5:before,
#m6:target ~ .member .time-line .m6:before,
#m7:target ~ .member .time-line .m7:before{
  background: #0dc7a2;
}

/* 第？届 （具体显示） */
.time-line .m:after{
  content: attr(data-title);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  margin: auto;
  height: 1.4rem;
  word-break: keep-all;
  opacity: 0;
  transition: all .32s ease;
}

.time-line .m:hover:after,
#member:target ~ .member .time-line .m1:after,
#m1:target ~ .member .time-line .m1:after,
#m2:target ~ .member .time-line .m2:after,
#m3:target ~ .member .time-line .m3:after,
#m4:target ~ .member .time-line .m4:after,
#m5:target ~ .member .time-line .m5:after,
#m6:target ~ .member .time-line .m6:after,
#m7:target ~ .member .time-line .m7:after{
  color: #0dc7a2;
  opacity: 1;
  transform: translateY(-.6rem);
}

/* 定位图标 */
.member .time-line i{
  display: block;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(-.6rem);
  transition: all .32s ease;
}

.member .time-line .m:hover i,
#member:target ~ .member .time-line .m1 i,
#m1:target ~ .member .time-line .m1 i,
#m2:target ~ .member .time-line .m2 i,
#m3:target ~ .member .time-line .m3 i,
#m4:target ~ .member .time-line .m4 i,
#m5:target ~ .member .time-line .m5 i,
#m6:target ~ .member .time-line .m6 i,
#m7:target ~ .member .time-line .m7 i{
  opacity: 1;
  transform: translateY(0);
}

/* 加入我们　*/
.time-line .m.join, .time-line .m.join:after{
  color: #ff9800;
}

.time-line .m.join:hover:before{
  background: #ff9800;
}

/* 成员照片 */
.member .photo-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  position: relative;
  padding-bottom: 3.2rem;
  width: 80%;
  max-width: 65rem;
  height: 16.8rem;
  user-select: none;
}

.member .photo-box .m{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
}

#member:target ~ .member .m1,
#m1:target ~ .member .m1,
#m2:target ~ .member .m2,
#m3:target ~ .member .m3,
#m4:target ~ .member .m4,
#m5:target ~ .member .m5,
#m6:target ~ .member .m6,
#m7:target ~ .member .m7{
  z-index: 9;
}

.member .m img{
  margin: 1.4rem;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 6rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  opacity: .6;
  cursor: pointer;
  transform: rotateY(90deg);
  transition: all .32s ease-in;
}


#member:target ~ .member .m1 img,
#m1:target ~ .member .m1 img,
#m2:target ~ .member .m2 img,
#m3:target ~ .member .m3 img,
#m4:target ~ .member .m4 img,
#m5:target ~ .member .m5 img,
#m6:target ~ .member .m6 img,
#m7:target ~ .member .m7 img{
  opacity: 1;
  transform: rotateY(0deg);
  transition-delay: .3s;
}

#member:target ~ .member .m1 img{
  transition-delay: .6s;
}

/* 成员 具体信息 */
.info-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: #f2f2f2;
  opacity: 0;
  z-index: -1;
  transition: all .32s ease;
  overflow: auto;
}

.info-box.show{
  opacity: 1;
  z-index: 20;
}

.info-box.hide{
  z-index: 20;
}

.info-box .close{
  position: absolute;
  top: 0;
  left: 0;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
}

.info-box .close:before,
.info-box .close:after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";
  margin: auto;
  width: 2rem;
  height: .2rem;
  background: #333;

  transition: transform .32s ease-in;
}

.info-box .close:before{
  transform: rotate(45deg);
}

.info-box .close:hover:before{
  transform: rotate(225deg);
}

.info-box .close:after{
  transform: rotate(-45deg);
}


.info-box .close:hover:after{
  transform: rotate(-225deg);
}

.info-box .close i{
  font-size: 1.6rem;
}

.info-box .content{
  display: flex;
  
  margin: 1.2rem;
  padding: 2rem;
  width: 100%;
  max-width: 55rem;
  height: 40%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  background: #fff;
  border-radius: .2rem;
  opacity: 0;
  transform: translateY(-2rem);
  transition: all .6s ease;
}

.info-box.show .content{
  opacity: 1;
  transform: translateY(0);
}

.info-box .content img{
  margin-right: 2rem;
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
}

.info-box .content .contact{
  min-height: 1.5rem;
}

.info-box .content a{
  margin: 0 .2rem;
  color: #666;
}

.info-box .content .info{
  text-align: left;
}


.info-box .footer{
  width: 100%;
  opacity: 0;
  transform: translateY(-2rem);
  transition: all .6s ease;
}


.info-box.show .footer{
  opacity: 1;
  transform: translateY(0);
}

.info-box.show .footer span{
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
  border-radius: 1.6rem;
  color: #fff;
  background: #0dc7a2;
  vertical-align: top;
}

.info-box .footer img{
  margin: 0 .5rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 3rem;
  opacity: .2;
  cursor: pointer;
  transition: opacity .6s ease;
}

.info-box .footer img:hover{
  opacity: 1;
}

.info-box .footer img.current{
  opacity: 1;
}

@media only screen and (max-width:640px) {
  .member .m img{
    margin: .6rem;
    width: 4rem;
    height: 4rem;
  }

  .time-line .m{
    width: 4rem;
  }

  .time-line .m:after{
    padding: .3rem;
    word-break: normal;
  }

  .info-box .content{
    flex-direction: column;

    padding: 1rem;
    margin-top: 4rem;
    height: auto;
  }

  .info-box .content h1{
    font-size: 1.2rem;
    text-align: center;
  }

  .info-box .content img{
    align-self: center;
    margin: 0;
    margin-top: -4.2rem;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 0 .5rem #bbb;
  }

  .info-box .content .contact{
    min-height: 0;
  }

}
